html, body {
    width: 100%;
    height: 100%;
}

section {
    min-height: 100%;
}

.row {
    min-width: 100%;
    margin: 0;
    padding: 0;

    min-height: 100%;
}

section > div.row > div.columns {
    width: 100%;
}

/* --- */
section > div.row > div.columns {
    padding: 1.5em;
}

section > div.row > div.columns.chapter {
    /*
    height: 100%;
    */
}

section > div.row > div.columns.content {
    /*
    min-height: 100%;
    */
}

/* --- */
section > div.row > div.columns.chapter > h1 {
    /*
    color: #fff;
    */
}

/* --- */
section.title > div.row > div.columns {
    background: #4abde2;
}

section.about > div.row {
    background: #41a069;
}

section.work > div.row {
    background: #e46565;
}

section.contact > div.row {
    background: #f19149;
}

/* --- */
ul.navi > li {
    display: inline-block;
    margin: 0 1.2em;
}

ul.social > li {
    display: inline-block;
    margin: 0 1.2em;
}
